pandas>=1.5.2
numpy>=1.19.5
dearpygui>=1.9.1
names>=0.3.0
openai~=0.27.8
importlib_resources~=6.1.0
setuptools~=65.6.3
pydantic~=2.3.0
pathlib~=1.0.1
plotly~=5.9.0
pip~=23.0.1
wheel~=0.41.2
brotli~=1.0.9
cryptography~=41.0.5
lxml~=4.9.2
tornado~=6.3
keyring~=24.2.0
pkginfo~=1.9.6
future~=0.18.3
docutils~=0.20.1
tenacity~=8.0.1